<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/AdminStyles.css}" type="text/css">
  <script th:src="@{/js/script.js}" type="module"></script>
  <title>Document</title>
</head>
<body>
<div class="dark-light">
  <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
  </svg>
</div>
<div class="tour">
  <div class="header">
    <div class="menu-circle"></div>
    <div class="header-menu">
      <a class="menu-link is-active" href="#">Tours</a>
      <a class="menu-link" href="#">Staffs</a>
      <a class="menu-link" href="#">Members</a>
      <a class="menu-link" href="#">Others</a>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search">
    </div>
    <div class="header-profile">
      <div class="notification">
        <span class="notification-number">3</span>
        <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
          <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
        </svg>
      </div>
      <img class="profile-img" src="spacecat.png" alt="">
    </div>
  </div>
  <div class="wrapper">
    <div class="left-side">
      <div class="side-wrapper">
        <div class="side-title">Tours</div>
        <div class="side-menu">
          <a th:href="@{/admin/tours}">
            All Tours
          </a>
          <a th:href="@{/admin}">
            UpComing
            <span class="notification-number updates">3</span>
          </a>
        </div>
      </div>
      <div class="side-wrapper">
        <div class="side-title">Categories</div>
        <div class="side-menu">
          <a th:href="@{/tour/us-tour}">
            US Tours
          </a>
          <a th:href="@{/tour/international-tour}">
            International Tours
          </a>
          <a th:href="@{/tour/micro-tour}">
            Micro Tours
          </a>
          <a th:href="@{/tour/streaming}">
            Streaming
          </a>
        </div>
      </div>
      <div class="side-wrapper">
        <div class="side-title">Location</div>
        <div class="side-menu">
          <a href="#">
            New York
          </a>
        </div>
      </div>
      <div class="side-wrapper">
        <div class="side-title">Tickets</div>
        <div class="side-menu">
          <a href="#">
            On Sale
          </a>
          <a href="#">
            Billing
          </a>
          <a href="#">
            Refund
          </a>
          <a href="#">
            Cancel
          </a>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="content-wrapper">

        <div class="content-section-title">UpComing</div>
        <div class="content-section">
          <p>FRI, OCT 18, 2024 </p>
          <p>HARD ROCK STADIUM</p>
          <p>Miami</p>
          <p>16</p>
          <li></li>
          <button class="content-button">Update</button>
        </div>
        <div class="content-section">
          <p>FRI, OCT 18, 2024 </p>
          <p>HARD ROCK STADIUM</p>
          <p>Miami</p>
          <p>16</p>
          <li></li>
          <button class="content-button">Update</button>
        </div>
        <div class="content-section">
          <p>FRI, OCT 18, 2024 </p>
          <p>HARD ROCK STADIUM</p>
          <p>Miami</p>
          <p>16</p>
          <li></li>
          <button class="content-button">Update</button>
        </div>
        <div th:each="member : ${memberList}" class="content-section">
          <div th:text="${member.getUserId()}"></div>
<!--          <p><span th:text="${tour.getLocationId().getName()}"></span></p>-->
<!--          <p><span th:text="${tour.getLocationId().getAddress()}"></span></p>-->
<!--          <div th:text="${tour.getTotalTickets()}"></div>-->
          <li></li>
          <button class="content-button">Update</button>
        </div>

      </div>
    </div>
    <div class="overlay-tour"></div>
  </div>
</div>
</body>
</html>