<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="login-form">
    <h2>Nhập mã xác nhận được gửi trong hòm thư</h2>

    <form id="loginForm" th:action="@{/verify-signup}" method="post">

        <div>
            <label class="password">Mã xác nhận:</label>
            <input type="text" class="password login-input" name="code"   required/>
        </div>


        <button type="submit" class="login-button">Gửi</button>

    </form>
</div>

</body>

</html>
